.home-layout {
  min-height: 100vh;
  background: transparent;
}

.home-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-center-wrapper {
  width: 90%;
  max-width: 1100px;
}

.home-card {
  width: 100%;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.home-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}