.login-container-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    #ff9933,
    #ffffff,
    #138808
  );
}

.login-card {
  width: 400px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

/* Card Top Border */
.user-card {
  border-top: 5px solid #52c41a;
}

.admin-card {
  border-top: 5px solid #fa8c16;
}

/* Segmented Active Color */
.user-segment .ant-segmented-item-selected {
  background-color: #52c41a !important;
  color: white !important;
}

.admin-segment .ant-segmented-item-selected {
  background-color: #fa8c16 !important;
  color: white !important;
}
